[submodule "gserial"]
	path = gserial
	url = https://github.com/crdietrich/gserial.git
[submodule "altair"]
	path = altair
	url = https://github.com/crdietrich/altair.git
[submodule "utils"]
	path = utils
	url = https://github.com/crdietrich/utils.git
